about-time==3.1.1; python_version >= "3.7" and python_version < "4"
alive-progress==2.3.1; python_version >= "3.7" and python_version < "4"
certifi==2021.10.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3"
click==8.0.4; python_version >= "3.6"
colorama==0.4.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
grapheme==0.6.0; python_version >= "3.7" and python_version < "4"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
loguru==0.6.0; python_version >= "3.5"
pillow==9.0.1; python_version >= "3.7"
prompt-toolkit==3.0.28; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.2"
pyfiglet==0.8.post1
questionary==1.10.0; python_version >= "3.6" and python_version < "4.0"
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
urllib3==1.26.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
wcwidth==0.2.5; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.2"
win32-setctime==1.1.0; sys_platform == "win32" and python_version >= "3.5"
